# Python cache
__pycache__/
*.pyc

# Virtual environment
venv/
.env/

# IDE
.vs/
.idea/

# AI project data (PRIVATE & LARGE)
faces/
trained_faces/
data/

# Models / weights
models/
*.pt
*.h5
*.onnx
*.pkl

# Binary / installers
*.whl

# OS files
.DS_Store
